.service-issue {
  background-color: #f5f6fa;
  margin: 0 !important;
}

.fontawesome {
  color: red;
  background-color: green;
}

.slick-prev:before {
  color: rgb(6, 9, 177);
}
.slick-next:before {
  color: blue;
}

/* issue card */
.service-img {
  max-width: 2vw;
}

.images {
  width: 5vmax;
  height: 6vmax;
}

.service-para {
  font-size: 1vmax;
  display: flex;
  justify-content: center;
}
