.vaccinated {
  background-size: cover;
  background-position: center;
  padding-bottom: 5%;
}

.pre_img {
  width: 22vw;
  position: relative;
  top: 10%;
}

.vaccinated-img {
  max-width: 100% !important;
}

/* .caro-2 {
    margin: 0 6%;
} */

.text-vaccinated {
  margin-top: 4%;
}

.vaccinated-para {
  font-size: 1.4rem;
}

.vaccinated-heading {
  font-size: 3rem;
  color: #6dbc88;
}
