.offer-container{
    background-color: #6746ee;
    margin-top: 5%;
    
}
.offer-2{
    margin: 0 8%;
}
.offer-text{
    font-size: 3rem;
    color: white;
    margin-top: 7%;
    margin-left: 8%;
}
.offer-img{
    margin-top: 2%;
}
.offers{
    text-align: left;
}