.header-comp {
  position: relative;
}

.fa-map-marker-alt {
  margin-right: 9%;
}

.fa-regular {
  margin-right: 9%;
  margin-top: 8%;
}

.fa-solid {
  margin-left: 2%;
}

.input-group {
  width: 100%;
}
.input-group-text {
  background-color: white;
  border-radius: 0%;
  width: 100%;
  border: 1px solid #8080808a;
}

#search-border:focus {
  outline: none !important;
}

.Navbar {
  margin: 0 12%;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: rgb(23 104 205);
}

.Logo {
  /* border: 2px solid red; */
  height: 30px;
  width: 80px !important;
}

.modal-btn {
  border: 1px solid #8080808a !important;
  width: 40%;
}
.search_btn {
  border: 1px solid #8080808a !important;
  /* border-left: 0!important; */
}

.btn-close {
  width: 5px !important;
}
.caro-img {
  width: 25vw;
  margin-right: 6vmax;
}

.gps {
  cursor: pointer;
  flex-direction: row;
}
.carousel-container-1 {
  background-size: cover;
  background-position: center;
}
#log_modal .modal-header{
  border: none !important;
  text-align: center !important;
}
#log_modal span{
  font-weight:normal !important;
  color: #80808099;
  font-size: 20px;
}
#log_modal .btn-close{
  float: inline-start !important;
}
