.center-title {
  text-align: center;
  margin-top: 5%;
}

.fix-text {
  color: #a1a1a1;
}

.service {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.service li {
  /* border: 2px solid red; */
  background-color: #fafafa;
  list-style: none;
  margin-top: 1%;
  margin-left: 1%;
  padding: 1% 0%;
  width: 12%;
}

.service li:hover {
  box-shadow: 0 0 20px 0.2rem rgb(0 123 255 / 25%);
  transform: scale(1.1);
  transition: 0.5s;
}

.middle-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small-font {
  font-size: 0.7rem;
}

.Fix-img {
  height: 50px;
  width: auto !important;
  max-width: 100%;
}

.service-1 {
  display: flex;
  justify-content: center;
  margin-left: 2%;
}

.service-1 li {
  /* border: 2px solid red; */
  background-color: #fafafa;
  list-style: none;
  margin-top: 1%;
  margin-left: 1%;
  padding: 1% 0%;
  width: 12%;
}

.service-1 li:hover {
  box-shadow: 0 0 20px 0.2rem rgb(0 123 255 / 25%);
  transform: scale(1.1);
  transition: 0.5s;
}

.Fix-img1 {
  height: 50px;
  width: auto !important;
  max-width: 100%;
}

.csoon {
  background-color: red;
  padding: 1% 2%;
  color: white;
  border-radius: 10%;
}
