.mod-header {
  background-color: #f5f6fa;
  margin-top: 1vmax;
  padding-top: 3vmax;
  padding-bottom: 2vmax;
}
.search_btn {
  background-color: white;
}

.form-control {
  height: auto;
}
.link-btn {
  color: gray;
  text-decoration: none;
  padding: 5px;
}
.active-link {
  color: blue;
}
