.Offer-Carousel {
  background-color: #ffffff;
}
.slick-arrow {
  color: blue !important;
}

.carousel-content-1 {
  margin: 0 12%;
}

/* How it works section */

.side-gap {
  margin: 0 10%;
}

.work-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 13%;
}

.first-work {
  margin-top: 4%;
  margin-bottom: 4%;
  padding-left: 3%;
}

.second-work {
  margin-top: 4%;
  margin-bottom: 4%;
  padding-left: 3%;
}

.works-img-pick {
  width: 13%;
  height: 0%;
  margin-right: 2%;
}

.works-img-service {
  width: 13%;
  height: 0%;
  margin-right: 2%;
}

.work-heading {
  font-size: 1.1rem;
  font-weight: 600;
}

.work-para {
  color: #646464;
  font-size: 0.8125rem;
}

.middle-border {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  margin-bottom: 1rem;
}

.hr-mid-blue {
  border: 2px solid #2c80ff;
  width: 50%;
  margin-top: 7%;
  opacity: 1;
}
