.news-update {
  padding-top: 70px;
  padding-bottom: 80px;
}
.news_heading {
  color: #333946;
  font-weight: bold;
}
.news_card_body {
  padding-left: 0;
  padding-right: 0;
  text-align: left;
  font-weight: 600;
}
.news_title{
    font-size: 16px;
    padding-bottom: 17px;
}
.news_more{
    text-decoration: none;
    color: #0056b3;
    font-size: 13px;
}
