.prodImg {
  width: 10vmax;
  margin: 2vmax;
}

.servicesImg {
  width: 100%;
  display: block;
  margin: auto;
}
.hr:not(:last-child) {
  border-bottom: 1px solid #dedede;
  padding-bottom: 20px;
  padding-top: 20px;
}

.prodRow {
  width: 100%;
}

/* service card */
.serviceParagraph {
  font-size: 0.8vmax;
  font-weight: bold;
  color: gray;
}

.lineHeight {
  line-height: 1;
}
.sticThrough {
  text-decoration: line-through;
  color: gray;
  font-size: 1.2vmax;
}
.colorGreen {
  color: green;
  font-weight: bold;
  font-size: 1vmax;
}

.serviceBtn {
  border: 1px solid blue;
  padding: 4px;
  width: 5.5vmax;
  font-size: 0.9vmax;
  border-radius: 5px;
}

.knowMore {
  font-size: 1vmax;
  margin-left: 18%;
  font-weight: bold;
  color: blue;
}

.knowMorePara {
  cursor: pointer;
  width: 40vw;
}
.btnbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.removeBtn {
  background-color: blue;
  color: white;
}

.offerBorder {
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.couponText {
  color: blue;
  font-size: 15px;
  margin-left: 3%;
  margin-top: 2%;
  line-height: 1;
}

.fontAwesome {
  color: blue;
  align-items: center;
  align-self: center;
  margin-right: 3%;
}

.applyBtn {
  font-size: 15px;
  /* min-width: 2vmax; */
}

.modal-dialog {
  max-width: 45vw !important;
}
.modal-footer {
  background-color: #f5f6fa !important;
  border: none !important;
}

.dateCard {
  cursor: pointer;
}

.times {
  cursor: pointer;
  background-color: white;
}

.clicked {
  background-color: blue !important;
  color: white !important;
}
.dateCard {
  width: 85% !important;
}
.modal-header {
  display: block !important;
  text-align: center !important;
}

.book_modal_back {
  float: left;
  border: none !important;
  background-color: transparent;
}
.closeButton {
  width: 30px;
  height: 30px;
  color: gray;
}

.appoinmentModal {
  background-color: #f5f6fa;
}

.appoinmentDate {
  background-color: red;
  margin: 1vmax;
  border-radius: 5px;
  padding-top: 1vmax;
  padding-bottom: 1vmax;
}
.selectedDate {
  background-color: blue;
}

.slick-slider {
  margin-top: 0;
}

.cartFooter {
  z-index: 5;
  width: 100vw;
  left: 0;
  bottom: 0;
  background-color: white;
  position: fixed;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.253);
}

.cartFontawesome {
  cursor: pointer;
}
